{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'carriage/style.css' %}"/>
    </head>
    <body>
    <div>
	<h1><a href="/carriage/">宝隆建材</a></h1> <a href="/carriage/accounts/google/login/">登陆</a> <br/>
    目 录: <a href={% url 'carriage:stat' %}> 统计页 </a> | <a href={% url 'carriage:index' 'SearchPage' %}>搜索页</a>
    | <a href="/admin/" %}> 数据录入 </a>
    </div>
            {% block content %}
            {% endblock %}
    </body>
</html>
